window {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    color: {{ colors.on_surface.default.hex }};
    animation: slideIn 0.5s ease-in-out both;
}

#input {
    color: {{ colors.on_surface.default.hex }};
    border-radius: 6px;
    border: 2px solid {{ colors.primary.default.hex }};
    background-color: {{ colors.surface_container_high.default.hex }};
    margin-bottom: 15px;
}

#inner-box {
}

#outer-box {
    padding: 15px 10px;
    border-radius: 6px;
    border: 2px solid {{ colors.primary.default.hex }};
    background-color: {{ colors.surface.default.hex }};
}

#entry {
    color: {{ colors.on_surface.default.hex }};
    border-radius: 6px;
    padding: 8px 4px;
}

#entry:selected {
    background-color: {{ colors.primary.default.hex }};
    color: {{ colors.on_primary.default.hex }};
    border-radius: 6px;
    padding: 8px 4px;
}
